@import url(http://fonts.googleapis.com/css?family=Abel|Inconsolata);

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    background: #26294a;
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-family: Inconsolata;
}

h2, h2, h3 {
	font-family: Abel;
}

h2 {
    color: #fff;
    margin: 0
}

h3 {
    color: #fff;
    margin: 0
}

.header {
    display: table;
    width: 100%;
    background: #1a1334;

}

.header__title {
    display: table-cell;
    font-size: 2em;
    line-height: 1.5;
    padding-left: 1rem;
    margin: 0;
}

.header__menu {
    display: table-cell;
    text-align: right;
}

.header__menu-list {
    margin: 0;
    padding: 0;
}

.header__menu-list-item {
    display: inline-block;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.header__menu-list-item-link {
    color: #fff;
    transition: .2s;
    text-decoration: none;
    margin-bottom: 0.2em
}

.header__menu-list-item-link:hover {
    color: #ccc;
    cursor: pointer;
}

.status-area {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    opacity: 1;
    pointer-events: none;
}

.status-area.hidden {
    opacity: 0;
    transition: opacity 5s ease;
}

.wrap {
    position: relative;
}

.canvas-container {
    height: calc(100vh - 3rem - 5px);
}

.controls {
    background: #1a1334;
    position: absolute;
    right: 0;
    top: 0;
    overflow: auto;
    height: 100%;
    width: 15%;
    min-width: 250px;
}

.drumSettings {
    padding: 0.5rem;
    -moz-box-shadow: 0 0 8px rgba(50, 50, 50, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(50, 50, 50, 0.8);
    box-shadow: 0 0 8px rgba(50, 50, 50, 0.8)
}

.individualDrumSettings .drumSettings:nth-child(1) {
    background-color: #a12a5e
}

.individualDrumSettings .drumSettings:nth-child(2) {
    background-color: #ed0345
}

.individualDrumSettings .drumSettings:nth-child(3) {
    background-color: #ef6a32
}

.individualDrumSettings .drumSettings:nth-child(4) {
    background-color: #fbbf45
}

.individualDrumSettings .drumSettings:nth-child(5) {
    background-color: #aad962
}

.individualDrumSettings .drumSettings:nth-child(6) {
    background-color: #03c383
}

.individualDrumSettings .drumSettings:nth-child(7) {
    background-color: #017351
}

.individualDrumSettings .drumSettings:nth-child(8) {
    background-color: #01545a
}

.settings-item {
    margin-top: 8px;
    overflow: hidden;
    *zoom: 1
}

.individualDrumSettings label {
    width: 30%
}

label {
    display: inline-block
}

input {
    float: right;
    width: 60px
}

select {
    float: right;
    display: inline-block;
    width: 70%
}

.alert {
    position: absolute;
    top: 4em;
    left: 10px;
    background: #1a1334;
    padding: 10px;
    max-width: 400px;
    z-index: 200;
    -moz-box-shadow: 0 0 8px rgba(50, 50, 50, 0.8);
    -webkit-box-shadow: 0 0 8px rgba(50, 50, 50, 0.8);
    box-shadow: 0 0 8px rgba(50, 50, 50, 0.8)
}

.alert button {
    float: right;
    border: 0;
    background-color: #303d8a;
    color: #fff;
    font-family: 'Abel';
    font-weight: 400;
    font-size: 1em;
    padding: .5em 1em;
    transition: background-color .2s
}

.alert button:hover {
    cursor: pointer;
    background-color: #3d4eb0
}
